body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border: 2px solid #000000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #000000;
}

.info-usuario, .info-compra {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 2px dashed #000000;
}

p {
    margin: 10px 0;
}

strong {
    font-weight: bold;
    color: #000000;
}

#nomeUsuario, #emailUsuario, #enderecoUsuario,
#totalCompra, #formaPagamento, #parcelas {
    color: #007bff;
}

@media screen and (max-width: 600px) {
    .container {
        margin: 20px;
        padding: 10px;
    }
}